---
import ProjectLayout from '../../layouts/Project.astro';
import {ViewTransitions} from 'astro:transitions';

const { project : projectName } = Astro.params;

import projectsDescriptions from "../../data/enterprise/projectsDescriptions.json";

const currentProject = projectsDescriptions.find( project => project.name === projectName )

export async function getStaticPaths() {
  const pages = [
    {
      project : "karyo-admin",
      title : "Karyo - Admin",
      text: "Welcome to the Astro store!",
    },
    {
      project : "karyo-acteur",
      title : "Karyo - Acteur",
      text: "Welcome to the Astro store!",
    },
    {
      project : "karyo-nowwhat",
      title : "NowWhat",
      text: "Welcome to the Astro store!",
    },
    {
      project : "karyo-beta",
      title : "Karyo - Beta",
      text: "Welcome to the Astro store!",
    },
    {
      project : "api-v1",
      title : "Improvize - V1",
      text: "Welcome to the Astro store!",
    },
    {
      project : "karyo-v1",
      title : "Karyo - V1",
      text: "Welcome to the Astro store!",
    },
    {
      project : "karyo-lib",
      title : "Librairie Improvize",
      text: "Welcome to the Astro store!",
    },
    {
      project : "showcase",
      title : "Improvize",
      text: "Welcome to the Astro store!",
    }
  ];
  return pages.map(({ project, title, text }) => {
    return {
      params: { project },
      props: { title, text },
    };
  });
}

---
{ 
  !currentProject ? 
  // 404 PAGE
  <head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <ViewTransitions />
  </head>
  <ProjectLayout title={`404 ${projectName}`}  >

      <h1 class="font-semibold text-4xl text-center" >404 {projectName}</h1>

  </ProjectLayout>
  : 
  // CURRENT PROJECT PAGE
  <head> 
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <ViewTransitions />
  </head>
  <ProjectLayout title={`Projet ${currentProject.name}`}  >
    
    <section class="h-fit bg-gradient-to-l from-indigo-50 px-20 py-20" >
      <div class="container" >
        <h1 class="font-semibold text-3xl mb-6" >{ currentProject.name?.toUpperCase() }</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum delectus aliquid debitis voluptas, totam, necessitatibus ut explicabo minus inventore eum autem temporibus eveniet officia sequi laboriosam commodi omnis quasi nobis.</p>
      </div>
    </section>

    {
      currentProject.sections.map( ( section , index ) => {

        return <section class="h-fit px-20 py-20" >
          <article class="container flex flex-row gap-8" >
            <img src={section.img.src} alt={section.img.alt} aria-label={ section.img.ariaLabel } class="rounded" >
            <div>
              <p class="mb-1 text-xl font-semibold" >{ section.title }</p>
              <p class="mb-3 text-lg" >{ section.subTitile }</p>
              <p>{ section.description }</p>
            </div>
          </article>
        </section>

      })
    }
    
  </ProjectLayout>
}